@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  html {
    font-family: 'Inter', sans-serif;
  }

  code {
    font-family: 'Inter', sans-serif;
  }
}

body {
  @apply bg-background text-foreground;
}
