---
import '../styles/globals.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Personal portfolio website showcasing my work and experiences" />
		<meta name="generator" content={Astro.generator} />
		<title>Amirul Naim - Software Engineer</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="min-h-screen bg-background font-mono antialiased bg-dark-pattern">
		<div class="relative flex min-h-screen flex-col">
			<div class="flex-1">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	::selection {
		background: rgba(66, 153, 225, 0.3);
	}
</style>
